.about-page {
  padding-top: 5em;

  .partners {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    img {
      max-width: 300px;
      max-height: 300px;
    }
  }
}
