.about-page {
  padding-top: 5em;

  .partners {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 2em;

    img {
      max-width: 300px;
      max-height: 200px;
      margin-right: 2em;

      &:hover {
        opacity: 0.5;
      }
    }
  }
}
