/* TYPOGRAPHY */
$mainFont: "Helvetica", sans-serif;
$contentsFont: "Merriweather", serif;

/* MAIN VARIABLES */
$mainOrange: #f85818;
$secondaryRed: #7c2c0c;
$radius: 0.2em;
$borderColor: #999;
$transitionDuration: 0.4s;
$containerPadding: 10px;

/* USEFUL CLASSES */
.typo-title {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-weight: 400;
}
.typo-content {
  font-family: $contentsFont;
  font-weight: 300;
  font-style: italic;
}
.inline {
  display: inline;
}
.inline-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.center-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.label {
  color: white;
  display: inline-block;
  border-radius: $radius;
  line-height: 1em;
  padding: 0.4em 0.8em;
}
button.unstyled {
  padding: 0;
  margin: 0;
  background: none;
  color: inherit;
}
ul.unstyled {
  list-style: none;
  padding-left: 0;

  li {
    margin: 0.5em 0;
  }
}

/* ACTUAL BASE STYLES */
body {
  margin: 0;
  font-family: $mainFont;

  &.no-scroll {
    overflow-y: hidden;
  }
}
.container,
.container-large {
  padding: 0 $containerPadding;
  margin: auto;
}
.container {
  max-width: 1000px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  @extend .typo-title;
}
a {
  color: black;

  text-decoration: none;
  &:not(.unstyled) {
    box-shadow: inset 0 -1px $mainOrange;
  }

  &:hover {
    color: $mainOrange;
  }

  & > i {
    color: $mainOrange;
  }
}
button:not(.unstyled) {
  border-radius: $radius;
  background: $mainOrange;
  color: white;
  border: none;
  outline: none;

  @extend .label;

  &:not([disabled]):hover {
    cursor: pointer;
    text-decoration: underline;
  }
  &[disabled] {
    background: grey;
  }
}
button.unstyled {
  outline: none;
  border: none;
  cursor: pointer;
}
input {
  border-radius: $radius;
  border: 1px solid $borderColor;
  box-sizing: content-box;

  line-height: 1em;
  padding: 0.5em 1em;
}
hr {
  border: none;
  border-bottom: 1px solid $borderColor;
}
.loader-overlay {
  position: absolute;
  background: #ffffffcc;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  @extend .center-flex;
}
.fragment-standalone {
  margin: 4em 0;
  padding-left: 20px;

  .content {
    @extend .typo-content;

    i {
      color: $mainOrange;
      position: absolute;
      margin-left: -20px;
    }

    span {
      .question {
        margin-top: 0;
      }

      .answer {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
        font-weight: bold;
      }
    }
  }
}
.side-panel {
  .fragment-standalone {
    .content {
      i {
        position: relative;
        display: block;
        margin: 0;
        left: -20px;
        height: 0;
        width: 0;
      }
    }
  }
}
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #00000033;
  z-index: 1000;

  display: flex;
  align-items: center;
  justify-content: center;

  .modal-body {
    background: white;
    padding: 2em;
    border: 1px solid grey;
    position: relative;
    margin: 2em;

    & > button.close {
      position: absolute;
      right: 1em;
      top: 1em;
    }
  }

  @media (max-width: 800px) {
    .modal-body {
    }
  }
}
.type-label {
  white-space: nowrap;
}
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
}
