.doc-page {
  $border: 2px solid $mainOrange;

  overflow-x: hidden;

  .doc-container {
    & > h1 {
      margin: 4em 0 2em;
      text-align: center;
    }
    .metadata-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-bottom: 4em;
    }
    .metadata {
      display: flex;
      flex-direction: column;
      align-items: baseline;
    }
    .tags {
      position: relative;

      form {
        @extend .inline-flex;

        input {
          flex-grow: 1;
          margin-right: 0.4em;
        }
      }
    }
  }

  .fragment:last-of-type {
    margin-bottom: calc(50vh - 2em);
  }

  .fragment {
    position: relative;
    color: grey;
    padding: 2em 0;
    margin: 0;

    &.active {
      color: black;
    }

    & > .content {
      @extend .typo-content;
      cursor: pointer;
    }
  }

  .side-panel {
    position: absolute;
    top: 50%;

    .wrapper-1 {
      z-index: 1;
      position: fixed;
      top: 0;
      width: 100vw;
      height: 100vh;
      box-sizing: border-box;

      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .wrapper-2 {
      padding: 20px;
      max-height: 100%;
      overflow-y: auto;
    }
  }

  .side-panel-placeholder {
    @extend .center-flex;
    @extend .typo-content;

    font-size: 1.2em;
    text-align: center;
    color: grey;
  }

  .fingerprint {
    @extend .typo-title;
    font-size: 0.7em;
    z-index: 1;

    display: block;
    position: absolute;
    top: 100%;
    margin-top: -3em;
  }

  .images-wrapper {
    overflow-x: scroll;

    .images {
      display: inline-flex;
      justify-content: center;
      overflow-x: auto;
      overflow-y: hidden;

      .image {
        position: relative;
        display: inline-block;
        height: 200px;

        img {
          height: 100%;
        }

        .caption {
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          position: absolute;

          @extend .center-flex;

          background: #00000099;
          a {
            color: white;
            &:hover {
              color: $mainOrange;
            }
          }
        }

        &:not(:hover) .caption {
          display: none;
        }
      }
      .image:not(:last-child) {
        margin-right: 1em;
      }
    }
  }

  button[data-action="deploy"] {
    margin-top: 0.7em;
    @extend .typo-title;
    font-size: 1em;
    color: $mainOrange;
  }

  .fingerprint {
    display: none;
  }

  .active .fingerprint {
    display: block;
  }

  /**
   * For large enough screens, show side-panel as an actual side panel, with a
   * small arrow to emphasize which fragment is concerned:
   */
  @media (min-width: 800px) {
    $dataWidth: 45vw;
    $leftMargin: 20px;

    .doc-container {
      /**
       * This is based on 100vw to not take into account the body vertical
       * scrollbar width:
       */
      width: calc(
        #{100vw - $dataWidth} - #{$leftMargin} - #{$containerPadding}
      );
    }
    .side-panel {
      width: $dataWidth;
      left: calc(100% + #{$leftMargin});

      .wrapper-1 {
        width: $dataWidth;
        border-left: $border;
      }

      // Tilted triangle:
      &::after {
        content: " ";
        position: absolute;
        z-index: 2;
        left: 0;
        top: 50%;
        margin-left: -0.5em;

        margin-top: -0.5em;

        width: 1em;
        height: 1em;
        border-top: $border;
        border-left: $border;
        background: white;
        transform: rotate(-45deg);
      }
    }

    button[data-action="deploy"],
    button[data-action="collapse"],
    .fingerprint {
      display: none;
    }

    .side-panel-placeholder {
      position: fixed;
      left: calc(#{100vw - $dataWidth});
      height: 80vh;
      top: 10vh;
      width: $dataWidth;
      border-left: 1px solid $borderColor;
      box-sizing: border-box;
    }
  }
  @media (min-width: 1200px) {
    $dataWidth: 40vw;
    $leftMargin: 20px;

    .doc-container {
      width: calc(
        #{100vw - $dataWidth} - #{$leftMargin} - #{$containerPadding}
      );
    }
    .side-panel,
    .side-panel .wrapper-1,
    .side-panel-placeholder {
      width: $dataWidth;
    }
    .side-panel-placeholder {
      left: calc(#{100vw - $dataWidth});
    }
  }

  /**
   * For smaller screens, show side-panel as a collapsible overlay:
   */
  @media (max-width: 800px) {
    .doc-container {
      /**
       * When the overlay appear, the body's vertical scrollbar goes away. This
       * line forces .doc-container width to remain the same, since 100vw does
       * not depend on the presence of this scrollbar, weirdly.
       */
      width: calc(100vw - 30px);
    }

    .side-panel {
      left: calc(100% + 20px);
      transition: left $transitionDuration;

      .wrapper-1 {
        width: 100vw;
        background: white;
      }

      &.deployed {
        left: -10px;
      }
    }

    .fragment.active button[data-action="deploy"] {
      display: block;
    }

    button[data-action="collapse"] {
      position: absolute;
      right: 10px;
      top: 10px;
      width: 3em;
      height: 3em;
      border-radius: 3em;
      background: $mainOrange;
      color: white;
      z-index: 3;

      &:hover {
        text-decoration: underline;
      }
    }

    .side-panel-placeholder {
      display: none;
    }
  }
}
