.doc-page {
  .fragment:first-of-type {
    padding-top: 50vh;
  }
  .fragment:last-of-type {
    padding-bottom: 50vh;
  }

  .fragment {
    color: grey;

    &.active {
      color: black;
    }
  }
}
