.search-page {
  padding-bottom: 10em;

  overflow-x: hidden;

  padding-top: 2em;
  transition: padding-top $transitionDuration;
  &.no-result {
    padding-top: 30vh;
  }

  form#search-form {
    @extend .inline-flex;

    input {
      flex-grow: 1;
    }
    & > *:not(:last-child) {
      margin-right: 0.4em;
    }
  }

  .filters-panel {
    margin: 1em 0;

    form > .buttons {
      text-align: right;
      button {
        margin-left: 0.5em;
      }
    }
  }

  .filters {
    margin: 1em 0;

    & > .filter {
      margin: 1em 0;
    }
  }
  @media (min-width: 500px) {
    .filters {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      margin-right: -2%;

      & > .filter {
        flex-shrink: 0;
        width: 48%;
        margin-right: 1%;
      }
    }
  }
  @media (min-width: 800px) {
    .filters > .filter {
      width: 32%;
    }
  }

  .dates-filter {
    & > div {
      @extend .inline-flex;
      align-items: center;
      margin: 0.4em 0;
    }
    label {
      width: 4em;
    }
    input {
      flex-grow: 1;
    }
  }
}
