.search-page {
  padding-bottom: 10em;

  .content {
    @extend .typo-content;
  }

  form#search-form {
    @extend .inline-flex;

    input {
      flex-grow: 1;
    }
    & > *:not(:last-child) {
      margin-right: 0.4em;
    }
  }

  .results-list > li {
    margin-top: 4em;
  }
}
